<div class="body-content">
    <div class="content">
      <h1>Que hacer Luego de recibir su vacuna contra el covid 19?</h1>

      <div class="steps">
        <ul class="lista">
          <li>Esperar 15 min a que no haya ninguna reaccion</li>
          <li>Tomar 1 tableta de Paracetamol o de acetaminofen cada 6 horas</li>
          <li>Tomar una siesta si se siente cansado o cansada</li>
          <li>No tomar ni fumar durante dos dias despues de la aplicacion</li>
          <li>Guarde su papel para la sigueinte dosis de la vacuna para el sars cov 2</li>
          <li>Vuelva por su 2da dosis y sea muy Feliz!</li>
        </ul>
      </div>
    </div>

</div>